<form autocomplete="off" #editTenantForm="ngForm">
  <h1 mat-dialog-title>{{ "EditHomework" | localize }}</h1>

  <mat-tab-group>
    <mat-tab label="Definitions">
      <div class="row-fluid" style="margin: 0%; margin-top: 10px">
        <div class="col-md-12">
          <mat-form-field style="width: 100%">
            <mat-label>Select a Classroom</mat-label>
            <mat-select
              required
              name="classRoom"
              [(ngModel)]="selectedClassRoom"
              (selectionChange)="selectedClassRoomChanged()"
              [(value)]="homework.classRoom"
              [compareWith]="customCompare"
            >
              <mat-option
                *ngFor="let classroom of classRooms"
                [value]="classroom"
              >
                {{ classroom.name }} {{ classroom.branch }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row-fluid" style="margin: 0%; margin-top: 10px">
        <div class="col-md-12">
          <mat-form-field style="width: 100%">
            <mat-label>Select a Lesson</mat-label>
            <mat-select
            name="lesson"
              [(ngModel)]="selectedLesson"
              required
              (selectionChange)="selectedLessonChanged()"
              [compareWith]="customCompare"
              [(value)]="selectedLesson"
            >
              <mat-option *ngFor="let lesson of lessons" [value]="lesson">
                {{ lesson.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row-fluid" style="margin: 0%; margin-top: 10px">
        <div class="col-md-12">
          <mat-form-field style="width: 100%">
            <mat-label>Select a Teacher</mat-label>
            <mat-select
              required
              name="teacher"
              [(ngModel)]="selectedTeacher"
              [compareWith]="customCompare"
              [(value)]="selectedTeacher"
            >
              <mat-option *ngFor="let teacher of teachers" [value]="teacher">
                {{ teacher.name }} {{ teacher.lastName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row-fluid" style="margin: 0%; margin-top: 10px">
        <div class="col-md-12">
          <mat-form-field style="width: 100%">
            <input
              matInput
              name="HomeworkSummary"
              [placeholder]="'HomeworkSummary' | localize"
              [(ngModel)]="homework.summary"
              required
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row-fluid" style="margin: 0%; margin-top: 10px">
        <div class="col-md-12">
          <mat-form-field style="width: 100%">
            <textarea
              matInput
              name="HomeworkDetail"
              [placeholder]="'HomeworkDetail' | localize"
              [(ngModel)]="homework.description"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Content">
      <div class="row" style="margin: 10px">
        <div class="col-6">
          <input
            type="file"
            #file
            placeholder="Choose file"
            (change)="uploadFile(file.files)"
            style="display: none"
            multiple
          />
        </div>
        <div class="col-6 text-right">
          <button type="button" class="btn btn-success" (click)="file.click()">
            Upload File
          </button>
        </div>
      </div>

      <a *ngFor="let file of homework.files">
        <div class="card" style="margin: 10px">
          <div class="card-body">{{ file.name }}</div>
        </div>
      </a>
    </mat-tab>
  </mat-tab-group>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!editTenantForm.form.valid || saving"
      (click)="save()"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
